.ingredients {
  position: relative;
  max-width: 1600px;
  height: 758px;
  margin: 0 auto;
  background-color: #191919; /* запасной фон */
  background-image: url('../img/bg-ingredients.png');
  background-repeat: no-repeat;
}

.ingredients__wrapper {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px 0;
  box-sizing: border-box;
}

.ingredients__container {
  position: relative;
  max-width: 570px;
  padding: 85px 70px 78px 70px;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 430px;
  overflow: hidden;
}

.ingredients__title {
  margin-bottom: 73px;
  text-align: center;
  font-family: 'Yeseva one';
  font-size: 36px;
  line-height: 24px;
  color: #fff;
  white-space: nowrap;
}

.ingredients__title::after {
  position: absolute;
  content: "";
  width: 247px;
  height: 25px;
  top: 134px;
  left: 160px;
  background-image: url("../img/divider-white.png");
  background-repeat: no-repeat;
}

.reservations__text-container {
  max-height: 155px;
  overflow: hidden;
}

.ingredients__text {
  width: 430px;
  max-height: 160px;
  overflow: hidden;
  margin-bottom: 68px;
  text-align: center;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 1.5;
  color: #d5d4d3;
}

.ingredients__image-items {
  display: flex;
  justify-content: space-around;
  padding: 0 3px;
}

.ingredients__image-item {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}

.ingredients__image-item--1 {
  background: url("../img/ingredient-image-1.png") no-repeat;
  background-position: 25% 30%;
  background-clip: content-box;
}

.ingredients__image-item--2 {
  background: url("../img/ingredient-image-2.png") no-repeat;
  background-position: 30% 80%;
  background-clip: content-box;
}

.ingredients__image-item--3 {
  background: url("../img/ingredient-image-3.png") no-repeat;
  background-position: 40% 40%;
  background-clip: content-box;
}
