.page-footer {
  position: relative;
  max-height: 320px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #191919;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  max-height: 320px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 54px 0 65px;
  box-sizing: border-box;
}

.page-footer__container {
  position: relative;
  max-width: 370px;
  overflow: hidden;
}

.page-footer__title {
  margin-top: 4px;
  margin-bottom: 53px;
  text-align: center;
  font-family: 'Yeseva one';
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  color: #fff;
  white-space: nowrap;
}

.page-footer__title::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 20px;
  top: 43px;
  left: 87px;
  background-image: url("../img/divider-small.png");
  background-repeat: no-repeat;
}

.page-footer__text {
  width: 370px;
  text-align: center;
  font-family: 'Open sans';
  font-size: 16px;
  line-height: 1.5;
  color: #d5d4d3;
  overflow: hidden;
  max-height: 100px;
}

.page-footer__text--time-work,
.page-footer__text--location {
  max-width: 370px;
  overflow: hidden;
  white-space: nowrap;
}

.page-footer__text-span,
.page-footer__text--location {
  font-family: 'Open sans bold';
}

.page-footer__card-items {
  display: flex;
  width: 134px;
  margin: 0 auto;
  margin-top: 51px;
  padding-left: 10px;
}

.page-footer__card-item {
  margin: 0 5px;
  background-image: url("../img/css_sprites.png");
  background-repeat: no-repeat;
}

.page-footer__card-item--american-express {
  width: 25px;
  height: 16px;
  background-position: -252px -8px;
}

.page-footer__card-item--paypal {
  width: 25px;
  height: 16px;
  background-position: -98px -7px;
}

.page-footer__card-item--visa {
  width: 25px;
  height: 16px;
  background-position: -188px -5px;
}

.page-footer__card-item--discover{
  width: 25px;
  height: 16px;
  background-position: -288px -8px;
}

.page-footer__social-links-items {
  display: flex;
  width: 99px;
  margin: 0 auto;
  margin-top: 48px;
  padding-left: 10px;
}

.page-footer__social-links-item {
  margin: 0 5px;
  background-image: url("../img/css_sprites.png");
  background-repeat: no-repeat;
}

.page-footer__social-links-item--facebook {
  width: 9px;
  height: 16px;
  background-position: -5px -5px;
}

.page-footer__social-links-item--youtube {
  width: 18px;
  height: 18px;
  background-position: -224px -8px;
  background-color: white;
}

.page-footer__social-links-item--twitter {
  width: 20px;
  height: 16px;
  background-position: -128px -5px;
}

.page-footer__social-links-item--trello {
  width: 16px;
  height: 16px;
  background-position: -45px -5px;
}
