.page-header {
  position: relative;
  max-width: 1600px;
  max-height: 110px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255)); /* запасной фон */
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent), url('../img/bg-promo.png');
  background-repeat: no-repeat;
  z-index: 1;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1250px;
  max-height: 110px;
  margin: 0 auto;
}

.page-header__logo {
  min-width: 156px;
  min-height: 26px;
  margin-left: 3px;
  outline: 0;
}

.page-header__nav-block {
  width: 740px;
  margin-left: auto;
}

.page-header__items {
  display: flex;
  justify-content: space-between;
  max-width: 740px;
  max-height: 110px;
  overflow: hidden;
}

.page-header__item {
  display: inline-block;
  width: auto;
}

.page-header__link {
  display: block;
  margin: 0 auto;
  padding: 50px 23px 40px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Gentium basic bold';
  font-size: 21px;
  text-align: justify;
  color: #fff;
}

.page-header__item--home {
  order: -1;
}

.page-header__link--home {
  padding-top: 45px;
  border-top: 5px solid #c7c5bd;
}

.page-header__item:hover ~
.page-header__item--home > .page-header__link--home {
  padding-top: 50px;
  border-width: 0;
  border-style: none;
}

.page-header__link:hover {
  padding-top: 45px;
  border-top: 5px solid #c7c5bd;
}

.page-header__social-links-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98px;
  margin-right: 33px;
}

.page-header__social-links-item {
  margin: 0 7px;
  background-image: url("../img/css_sprites.png");
  background-repeat: no-repeat;
}

.page-header__social-links-item--twitter {
  width: 20px;
  height: 15px;
  background-position: -158px -5px;
}

.page-header__social-links-item--youtube {
  width: 18px;
  height: 23px;
  background-position: -70px -5px;
}

.page-header__social-links-item--facebook {
  width: 9px;
  height: 21px;
  background-position: -24px -5px;
}
