.section-about {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: 710px;
  margin: 0 auto;
}

.section-about__wrapper {
  display: flex;
  justify-content: space-between;
  height: 710px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 54px 25px 10px 70px;
  box-sizing: border-box;
}

.section-about__container {
  position: relative;
  padding-top: 57px;
  max-width: 430px;
  overflow: hidden;
}

.section-about__title {
  margin-bottom: 72px;
  text-align: center;
  font-family: 'Yeseva one';
  font-size: 36px;
  line-height: 24px;
  color: #d2a622;
  white-space: nowrap;
}

.section-about__title::after {
  position: absolute;
  content: "";
  width: 242px;
  height: 25px;
  top: 102px;
  left: 88px;
  background-image: url("../img/divider-gold.png");
  background-repeat: no-repeat;
}

.section-about__text {
  width: 430px;
  max-height: 170px;
  overflow: hidden;
  margin-bottom: 47px;
  text-align: center;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 1.5;
  color: #4c4c4c;
  letter-spacing: -0.05px;
}

.section-about__image-cook {
  display: block;
  margin: 0 auto;
  margin-right: 70px;
  width: 219px;
  height: 221px;
}

.section-about__image-dish {
  width: 621px;
  height: 625px;
}
