.table {
  position: relative;
  max-width: 455px;
  padding: 0;
  border-collapse: collapse;
}

.table__title {
  margin-bottom: 68px;
  text-align: center;
  font-family: 'Yeseva one';
  font-size: 36px;
  line-height: 24px;
  color: #d2a622;
  white-space: nowrap;
}

.table__title::after {
  position: absolute;
  content: "";
  width: 242px;
  height: 25px;
  top: 47px;
  left: 103px;
  background-image: url("../img/divider-gold.png");
  background-repeat: no-repeat;
}

.table__row {
  width: 455px;
  height: 40px;
  border-collapse: collapse;
}

.table__row--name-dish {
  border-bottom: 1px solid #d6bb6e;
}

.table__row--dish-action {
  border: 1px solid #d6bb6e;
}

.table__name-dish,
.table__price {
  font-size: 24px;
  font-family: "YesevaOne";
  font-weight: 700;
  line-height: 1.143;
  color: #d2a622;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  max-width: 385px;
}

.table__name-dish {
  width: 385px;
  padding: 5.5px 11px;
  letter-spacing: 0.3px;
}

.table__price {
  max-width: 70px;
  padding: 7px 9px 5px 5px;
}

.table__text {
  max-width: 455px;
  margin-bottom: 10px;
  padding: 8.5px 12px 7px;
  text-align: left;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
  box-sizing: border-box;
  overflow: hidden; 
  white-space: nowrap;
}

.table__row--no-action {
  height: 17px;
}

.table__no-action {
  visibility: hidden;
  padding: 0;
  font-size: 13px;
  box-sizing: border-box;
}

.table__row--action {
  height: 21px;
}

.table__action {
  width: 70px;
  height: 21px;
  padding: 4px 12px 3px;
  text-align: left;
  font-family: 'Lato';
  font-size: 14px;
  color: #fff;
  background-color: #d6bb6e;
  box-sizing: border-box;
}
